<link rel="import" href="../../../bower_components/polymer/polymer.html">
<dom-module id="pd-drawer">
    <link rel="import" type="css" href="../../../app/components/pd-drawer/pd-drawer.css">
    <template>
        <p>LeftShow<input type="text" value="{{leftShow::input}}"></p>
        <p>Rightshow<input type="text" value="{{rightShow::input}}"></p>
        <p>value of left is: <span> {{leftShow}}</span></p>
        <p>value of right is: <span> {{rightShow}}</span></p>
    </template>
</dom-module>
<script>
    Polymer({
        is: "pd-drawer",
        properties: {
            leftShow: {
                type: Boolean,
                value: true,
                notify: true
            },
            rightShow: {
                type: Boolean,
                value: true,
                readOnly: true
            }
        }
    });
</script>